---
layout: default
title: MAC10.PRO
---

<div id="home">
  
<!--   <h1>Posts</h1> -->
  
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <div class="post">
          <!-- Display the post's date -->
<!--           <span>{{ post.date | date_to_string }}</span> -->
          
          <!-- Link to the individual post -->
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          
          <!-- Display the post's excerpt (if defined in front matter) -->
          <p>{{ post.excerpt }}</p>
          
          <!-- If you want to display an image from the post, assuming you set it in the front matter -->
          {% if post.image %}
          <a href="{{ post.url }}">
            <div class="imgBlock">
              <img src="{{ post.image }}" alt="{{ post.title }}">
            </div>
          </a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>  
</div>
